<div ng-controller="loginCtrl" class="md-inline-form inputdemoBasicUsage">
    <login-logout status="logedIn"></login-logout>
    <form id="loginForm">
            <md-content md-theme="docs-dark" layout="row" layout-wrap>
                <div flex="33"></div>
            <div flex="33">
                <md-input-container>
                    <input type="text" name="_username" id="username" placeholder="Username" ng-model="username">
                </md-input-container>
                <md-input-container>
                    <input type="password" name="_password" id="password" placeholder="Password" ng-model="password">
                </md-input-container>
            </div>
                <div flex="33"></div>
                <div flex="100"><md-input-container><md-button class="md-raised md-primary" ng-click="submit()">Login</md-button></md-input-container></div>
        </md-content>
    </form>
</div>