<ng-include src="'/bundles/angular/ng/header.html'"></ng-include>
<div flex ng-show="noFound">
    <div class="alert alert-info">
        <h1>No Bands Found ... Start To Add</h1></div>
</div>
<div md-theme="default" class="pageBands" >
    <div class="data-holder" layout-margin ng-hide="noFound">
        <band class='elementContent' aband="band" ng-repeat="band in Bands">
            <md-divider></md-divider>
            <div class='bandsAction'>
                <md-button ng-click="editForm(band)">
                    <md-tooltip>Edit</md-tooltip>
                    <md-icon md-svg-icon="crud:edit"></md-icon>
                </md-button>
                <md-button ng-click="addMedia(band)">
                    <md-tooltip>Set Preview</md-tooltip>
                    <md-icon md-svg-icon="crud:preview"></md-icon>
                </md-button>
                <md-button ng-show="band.concerts.length == 0"  aria-label="Delete" ng-click="deleteBand(band.slug)">
                    <md-icon md-svg-icon="crud:delete" style="fill:red"></md-icon>
                    Delete
                </md-button>
            </div>
            <md-divider></md-divider>
        </band>
    </div>
    <div layout-align="center center" layout="row"
         paging
         ng-hide="pages == 1"
         page="page"
         page-size="limit"
         total="total"
         paging-action="changePage(page)">
    </div>

    <script type="text/ng-template" id="dialog2.tmpl.html">
        <md-dialog aria-label="Edit Band">
        <md-toolbar >
        <div class="md-toolbar-tools">
        <h2>Add A New Band</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="/bundles/angular/img/icons/xClose.svg" aria-label="Cancel"></md-icon>
        </md-button>
        </div>
        </md-toolbar>
        <form name="bandForm" >
        <md-dialog-content layout-padding layout-margin>
        <md-input-container>
        <label>Name</label>
        <input ng-model="band.name" name="bandName" required>
        </md-input-container>
        <md-input-container ng-show="displayInput">
        <label>Add A New Genre</label>
        <input ng-model="band.genre" ng-required="displayInput" style="margin-top: -3px;" >
        </md-input-container>
        <md-input-container ng-hide="displayInput" >
        <md-select ng-model="band.genre" placeholder="Select a Genre" style="margin-top: -29px;" ng-required="!displayInput">
        <md-option ng-repeat="(key, value) in allGenres" value="{{value.genre}}">{{value.genre}}</md-option>
        </md-select>
        </md-input-container>
        <md-input-container>
        <md-tooltip>{{displayInputLabel}}</md-tooltip>
        <md-checkbox ng-model="displayInput" aria-label="Checkbox 1"></md-checkbox>
        </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" md-whiteframe="2">
        <span flex> </span>
        <md-input-container>
        <md-button type="submit" ng-click="saveBand()" style="margin-top: -12px;">Save</md-button>
        <md-button ng-click="clearForm()" style="margin-top: -12px;">Reset Form</md-button>
        </md-input-container>
        <md-input-container>
        <div layout="row" layout-sm="row" layout-align="space-around">
        </div>
        </md-input-container>
        </md-dialog-actions>
        </form>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="dialog3.tmpl.html">
        <md-dialog aria-label="Add Image">
        <md-toolbar >
        <div class="md-toolbar-tools">
        <h2>Add Image To Band</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="/bundles/angular/img/icons/xClose.svg" aria-label="Cancel"></md-icon>
        </md-button>
        </div>
        </md-toolbar>
        <form name="bandForm" >
        <md-dialog-content layout-padding layout-margin layout='row'>
        <div flex='30' ng-repeat="image in images" ng-click="select(image)" ng-class="{active: isActive(image)}" >
        <img ng-src="{{image.image_url}}" height="50" width="50">
        </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" md-whiteframe="2">
        <span flex> </span>
        <md-input-container>
        <md-button type="submit" ng-click="saveBand()">Save</md-button>
        </md-input-container>
        <md-input-container>
        <div layout="row" layout-sm="row" layout-align="space-around">
        </div>
        </md-input-container>
        </md-dialog-actions>
        </form>
        </md-dialog>
    </script>
</div>
