<div growl></div>
<div ng-controller='navigationCtrl as ctrl'>
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="ctrl.toggleLeft()">
                    <md-icon md-svg-icon="nav:menu"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Home"  ng-click="go('/home')">
                    <md-icon md-svg-icon="nav:home"></md-icon>
                </md-button>
                <h2>
                    <span>Michelkhater.com Backend Demo</span>
                </h2>
                <span flex></span>
                <login-logout status='logedIn'></login-logout>
            </div>
        </md-toolbar>
    </md-content>
    <md-sidenav class="md-sidenav-left" md-component-id="left"  md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content layout-margin>
            <md-list flex>
                <md-subheader class="md-no-sticky">Music Menu</md-subheader>
                <md-list-item class="md-2-line" ng-click="go('/bands')">
                    <md-icon md-svg-icon="elem:band"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>Bands</h3>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-2-line" ng-click="go('/venues')">
                    <md-icon md-svg-icon="elem:venue"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>Venues</h3>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-2-line" ng-click="go('/concerts')">
                    <md-icon md-svg-icon="elem:concert"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>Concerts</h3>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-2-line" ng-click="go('/media')">
                    <md-icon md-svg-icon="elem:media"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>Media</h3>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-2-line" ng-click="go('/gallery')">
                    <md-icon md-svg-icon="elem:media"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>Gallery</h3>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-2-line" ng-click="go('/add-music')">
                    <md-icon md-svg-icon="nav:add"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3>Gallery</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>
